<p>
  There is nothing either good or bad but <%= noun %> makes it so.
</p>

<div>
  <p>controller name: <%= controller_name %> </p>
  <p>version of the rulers gem: <%= rulers_gem_version %> </p>
</div>
